#contact {
    padding: 20px;
    background-color: #0d1117;
    text-align: center;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-container {
    display: flex;
    max-width: 1000px;
    justify-content: space-evenly;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
}