.project {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.projectBtn {
    background-color: #58a6ff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

.projectBtn:hover {
    background-color: #45a049;
}