.social-links {
    margin-top: 20px;
}

.social-links a {
    transition: 500ms ease;
    margin: 0 10px;
}

.social-links a:hover {
    transition: 500ms ease;
    text-decoration: underline;
}

.socialBtn {
    background-color: #161b22;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.socialBtn:hover {
    background-color: #2a323e;
}