.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
}

.social-links a:hover {
    text-decoration: underline;
}

.socialBtn {
    background-color: #3f4346;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}